<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand"> 🛒 Supermercado </a>

    <div>
      <a class="btn btn-light me-2" routerLink="/usuarios/usuarios">
        Usuarios
      </a>
      <a class="btn btn-light me-2" routerLink="/clientes">
        Clientes
      </a>
      <a class="btn btn-light me-2" routerLink="/productos">
        Productos
      </a>
      <a class="btn btn-light me-2" routerLink="/ventas">
        Ventas
      </a>
      <a class="btn btn-success me-2" routerLink="/usuarios/crear">
        Crear Usuario
      </a>
      <button class="btn btn-danger" (click)="logout()">Salir</button>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
